[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rpi.gpio" = "*"
matplotlib = "*"
adafruit-circuitpython-adxl34x = "*"
ffmpeg-python = "*"
opencv-python = "==4.6.0.66"
gpiozero = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
